<div class="card">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <p-table
    [value]="products"
    dataKey="productId"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
    (onRowCollapse)="onRowCollapse($event)"
  >
    <ng-template #caption>
      <div class="flex justify-between items-center">
        <div class="flex gap-2">
          <p-button
            label="Expand All"
            icon="pi pi-plus"
            (onClick)="expandAll()"
          ></p-button>
          <p-button
            label="Collapse All"
            icon="pi pi-minus"
            (onClick)="collapseAll()"
          ></p-button>
        </div>
        <p-button
          label="Add Product"
          icon="pi pi-plus"
          (onClick)="displayAddProductDialog = true"
          class="ml-auto"
        ></p-button>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="productName">
          Name <p-sortIcon field="productName" />
        </th>
        <th>Image</th>
        <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
        <th pSortableColumn="category.categoryName">
          Category <p-sortIcon field="category.categoryName" />
        </th>
        <th pSortableColumn="stock">Status <p-sortIcon field="stock" /></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-product let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="product"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></p-button>
        </td>
        <td>{{ product.productName }}</td>
        <td>
          <img
            [src]="
              'https://primefaces.org/cdn/primeng/images/demo/product/' +
              product.image
            "
            [alt]="product.productName"
            width="50"
            class="shadow-lg rounded-full"
          />
        </td>
        <td>{{ product.price | currency : "USD" }}</td>
        <td>{{ product.category.categoryName }}</td>

        <td>
          <p-tag
            [value]="getProductStatus(product.stock)"
            [severity]="getSeverity(product.stock)"
          />
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            (onClick)="editProduct(product)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            (onClick)="deleteProduct(product)"
          ></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-product>
      <tr>
        <td colspan="7">
          <div class="p-4">
            <h5>Details for {{ product.productName }}</h5>
            <p-table [value]="product.productDetails" dataKey="detailId">
              <ng-template #header>
                <tr>
                  <th pSortableColumn="attribute">
                    Attribute <p-sortIcon field="attribute" />
                  </th>
                  <th pSortableColumn="value">
                    Value <p-sortIcon field="value" />
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-detail>
                <tr>
                  <td>{{ detail.attribute }}</td>
                  <td>{{ detail.value }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Add New Product"
  [(visible)]="displayAddProductDialog"
  [modal]="true"
  [style]="{ width: '20vw' }"
  [draggable]="false"
>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field flex justify-content-between">
        <label for="productName">Product Name</label>
        <input
          id="productName"
          type="text"
          pInputText
          formControlName="productName"
        />
      </div>
      <div class="p-field flex justify-content-between">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="description"
        />
      </div>
      <div class="p-field flex justify-content-between">
        <label for="category">Category</label>
        <p-dropdown
          id="category"
          [options]="categories"
          formControlName="category"
          optionLabel="categoryName"
          placeholder="Select a Category"
        ></p-dropdown>
      </div>
      <div class="p-field flex justify-content-between">
        <label for="price">Price</label>
        <input id="price" type="number" pInputText formControlName="price" />
      </div>
      <div class="p-field flex justify-content-between">
        <label for="stock">Stock</label>
        <input id="stock" type="number" pInputText formControlName="stock" />
      </div>
      <div formArrayName="productDetails">
        <div
          *ngFor="let detail of productDetails.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="p-field flex justify-content-between">
            <label for="attribute-{{ i }}">Attribute</label>
            <input
              id="attribute-{{ i }}"
              type="text"
              pInputText
              formControlName="attribute"
            />
          </div>
          <div class="p-field flex justify-content-between">
            <label for="value-{{ i }}">Value</label>
            <input
              id="value-{{ i }}"
              type="text"
              pInputText
              formControlName="value"
            />
          </div>
          <p-button
            label="Remove"
            icon="pi pi-minus"
            (onClick)="removeProductDetail(i)"
          ></p-button>
        </div>
      </div>

      <div class="flex justify-content-between">
        <p-button
          label="Add Attribute"
          icon="pi pi-plus"
          (onClick)="addProductDetail()"
          class="mt-4"
        ></p-button>

        <p-button
          icon="pi pi-plus"
          label="Submit"
          type="submit"
          class="mt-4"
        ></p-button>
      </div>
    </div>
  </form>
</p-dialog>
